li.clearfix
    p.item-right.green
        | Статус:
        span.caption= ` ${order.status}`
    p.item
        | ID:
        span.caption= ` ${order.id}`
    p.item
        | Назва:
        span.caption= ` ${order.name}`
    p.item
        | Ціна:
        span.caption= ` ${order.price}`
    p.item
        | Дата:
        span.caption= ` ${order.date}`