extends src/layout

block content
    include src/pushy-left
    div
        include src/menu-container
        // template begin
        .content-main-wrapper
            h2.content-main-wrapper_title Особистий профіль
            .profile-wrapper
                ul
                    li
                        | Ім'я:
                        span= ` ${user.name}`
                    li
                        | E-mail:
                        span= ` ${user.email}`
                    li
                        | Телефон:
                        span= ` ${user.mobilePhone || '-'}`
                    //li
                    //    | Пароль:
                    //    span #{password}
            .profile-history
                h2.title_sub Історія замовлень
                ul
                    // foreach item
                    //[{status: 'Замовлено', id: '12584631', name: 'Banner', price: '2500', date: '12/05/2018'}]
                    if !orders.length
                        br
                        p= 'Історія замовлень пуста'
                    else
                        each order in orders
                            include src/some-order
                    // /foreach